body {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: #101010;
	color: white;
}

.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

#Post_PostMessage {
	width: 500px;
	height: 250px;
	max-width: 80%;
	background-color: #101010;
}

#Post_Headline {
	width: 500px;
	max-width: 80%;
	background-color: #101010;
}

#content {
	display: block;
	width: 75%;
	background-color: #161616;
}

#submitPostButton, #searchButton {
	display: block;
	margin-bottom: 3px;
	margin: 5px;
	color: black;
}

#searchButton {
	float: right;
	display: block;
}

#clearButton {
	margin-bottom: 3px;
	margin: 5px;
	color: black;
	float: right;
	display: block;
}

.removePost, #removeConfirmation {
	float: right;
	margin-right: 10px;
}

.postContent {
	display: none;
}

.headline:hover {
	color: aquamarine;
}

.unfinished {
	color: black;
	background-color: indianred !important;
}

#search {
	float: right;
	width: 25%;
	background-color: #101010;
	color: white;
	margin-bottom: 3px;
	margin: 5px;
}

.headline {
	color: lightskyblue;
}

.radioCategory {
	display: inline-block;
	margin: 2px;
}

button {
	color: black;
}
